:root {
  --main-blue: #5f77c1;
  --light-blue-header: #b9caff;
  --main-grey: #676c6d;
  --spec-blue: #707a9a;
  --category-blue: #1366bb;
  --main-orange: #ea8080;
  --hover-main-orange: #ff523f;
}
