body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Open Sans";
  color: #3e3e3e;
  background-color: #fbfbfb;
  letter-spacing: -1px;
}

p {
  margin: 3px 0px;
}

a {
  text-decoration: none;
  color: #3e3e3e;
}

#content {
  margin: auto;
  width: calc(100% - 60px *2);
  text-align: center;
  padding: 60px;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  color: #3dabe0;
}

.disclaimer {
  font-size: 1rem;
  width: 80%;
  margin: 30px auto;
  line-height: 1.6;
  letter-spacing: 0px;
}

.category {
  text-align: center;
}

.companies {
  text-align: left;
  margin: auto;
}

.category-name {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 40px 0px 0px 0px;
  color: #3dabe0;
  padding: 20px 30px;
}

.company {
  width: calc(25% - 30px * 2  - 15px * 2  - 2px);
  display: inline-flex;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #d8d8d8;
  border-bottom: 5px solid #d8d8d8;
  flex-direction: column;
  padding: 20px 30px;
  margin: 15px 15px;
  text-align: left;
  cursor:pointer;
}

.company:hover {
  border-bottom: 5px solid #3dabe0;
}

.company-logo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.company-name {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.company-specs {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  letter-spacing: 0px;
}

.spec-title {
  font-size: 0.8rem;
  color: #3e3e3e80;
}

.price-from{
  font-weight: 600;
  letter-spacing: -1px;
}

@media all and (max-width: 1765px){
  .company {
    width: calc(33% - 30px * 2 - 15px * 2 - 2px);
  }
}


@media all and (max-width: 1100px){
  .company {
    width: calc(50% - 30px * 2 - 15px * 2 - 2px);
  }
}

@media all and (max-width: 800px)  {
  .company {
    width: calc(100% - 30px * 2);
    margin-left: 0;
    margin-right: 0;
  }
}
