body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Roboto";
  color: #607d8b;
  background-color: #f6f8fb;
}

p {
  margin: 3px 0px;
}

a {
  text-decoration: none;
  color: #607d8b;
}

.arrow-icon {
  margin-right: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

#content {
  margin: auto;
  width: calc(100% - 60px *2);
  text-align: center;
  padding: 30px 60px 60px 60px;
  max-width: calc(1200px - 60px * 2);
}

.header {
  text-align: center;
}

.title-h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #477ca5;
  border-radius: 0.25rem 0.25rem 0 0;
}
.title-h1 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #477ca5;
  border-radius: 0.25rem 0.25rem 0 0;
}

.disclaimer {
  font-size: 1rem;
  margin: 0 auto 40px auto;
  line-height: 1.6;
  letter-spacing: 0px;
  text-justify: inter-character;
  color: #676c6d;
  background-color: #FFF;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 30px;
}

.category-logo {
  width: 30px;
  text-align: center;
  color: #7fafd4;
  display: inline-block;
  margin-right: 10px;
}

.category-name {
  text-align: left;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 20px 0px 0px 0px;
  padding: 20px;
  background-color: #FFF;
  border-left: 3px solid #7fafd4;
  cursor: pointer;
  border-radius: 0px 0.25rem 0.25rem 0px;
  -webkit-box-shadow: 0px 0px 23px -4px rgba(96,125,139,0.19);
  -moz-box-shadow: 0px 0px 23px -4px rgba(96,125,139,0.19);
  box-shadow: 0px 0px 23px -4px rgba(96,125,139,0.19);
  position: sticky;
  top: 15px;
  z-index: 2;
}

.category-name-expanded::before {
  position: absolute;
  top: -19px;
  left: -3px;
  z-index: 2;
  content: " ";
  background-color: #f6f8fb;
  width: calc(100% + 3px);
  height: 19px;
}

.category {
  text-align: center;
  background-color: #FFF;
  border-radius: 0px 0px 0.25rem 0.25rem;
  max-height: 0px;
  overflow: hidden;
  padding: 0px;
  -moz-transition: max-height 0.1s ease, padding 0.1s ease;
  -ms-transition: max-height 0.1s ease, padding 0.1s ease;
  -o-transition: max-height 0.1s ease, padding 0.1s ease;
  -webkit-transition: max-height 0.1s ease, padding 0.1s ease;
  transition: max-height 0.1s ease, padding 0.1s ease;
}

.category-expanded {
  padding: 30px;
  max-height: 3000px;
  -moz-transition: max-height 2.5s ease, padding 0.2s ease;
  -ms-transition: max-height 2.5s ease, padding 0.2s ease;
  -o-transition: max-height 2.5s ease, padding 0.2s ease;
  -webkit-transition: max-height 2.5s ease, padding 0.2s ease;
  transition: max-height 2.5s ease, padding 0.2s ease;
}

.companies {
  text-align: left;
  margin: auto;
}

.fa-chevron-down, .fa-chevron-up{
  color: #607d8b;
  font-size: 1rem;
  float: right;
}

.company {
  width: calc(33% - 30px * 2  - 15px * 2  - 2px);
  display: inline-flex;
  vertical-align: middle;
  background-color: #FFF;
  flex-direction: column;
  padding: 20px 30px;
  margin: 15px 15px;
  text-align: left;
  cursor:pointer;
  -webkit-box-shadow: 0px 0px 23px -4px rgba(96,125,139,0.3);
  -moz-box-shadow: 0px 0px 23px -4px rgba(96,125,139,0.3);
  box-shadow: 0px 0px 23px -4px rgba(96,125,139,0.3);
  border: 1px solid #FFF;
  border-radius: 0.25rem;
}

.company:hover {
  border: 1px solid #c2d2da;
}

.company-logo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.company-name {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #676c6d;
}

.company:hover .company-name {
  color: #2e79d6;
}

.company-specs {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  letter-spacing: 0px;
}

.spec-title {
  font-size: 0.7rem;
  color: #607d8b;
  letter-spacing: 1px;
  font-weight:500;
}

.price-from{
  letter-spacing: -1px;
  font-size: 1.0rem;
  margin-top: 6px;
  font-family: 'Baloo 2', cursive;
  font-weight: 500;
}

.price-from::before {
  content: "NOK";
  opacity: 0.6;
  font-weight: 400;
  margin-right: 6px;
}

.filters {
  text-align: left;
  width: 100%;
}

.categories-title {
  font-size: 0.9rem;
  color: #1366bb;
  margin-bottom: 20px;
  font-weight: 600;
}

.filter {
  color: #FFF;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 10px 0px;
  cursor: pointer;
}

.filter-select {
  background-color: #3dabe0;
}

.filter-noselect {
  background-color: #d8d8d8 !important;
}

@media all and (max-width: 1150px) {
  .company {
    width: calc(50% - 30px * 2 - 15px * 2 - 2px);
  }
}

@media all and (max-width: 800px) {
  .company {
    width: calc(100% - 20px * 2);
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding: 20px 20px;
  }
  .category-name:hover {
    filter: none;
  }
}

@media all and (max-width: 500px)  {
  #content {
    padding: 30px 20px;
    width: calc(100% - 20px * 2);
  }
  .category-expanded {
    padding: 25px;
  }
  .header {
    padding: 0px 15px;
  }
}

@media all and (max-width: 800px){
  .header{
    text-align: justify;
  }
}
